<template>
  <div>
    <button class="add-note-bttn" @click="addNote">Add note</button>
    <div class="notes-list">
      <NoteItem :key="note.id" v-for="note in notesList" :note="note" />
    </div>
  </div>
</template>

<script>
import NoteItem from '../components/notes/NoteItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    NoteItem,
  },
  computed: {
    ...mapGetters(['notesList']),
  },
  methods: {
    ...mapActions(['getNotes']),
    addNote() {
      this.$router.push('/new')
    },
  },
}
</script>

<style scoped>
.notes-list {
  display: flex;
  flex-wrap: wrap;
}
.add-note-bttn {
  display: block;
  margin: auto;
  padding: 5px;
}
</style>