<template>
  <div class="single-note-form">
    <h3>{{ actionType | parseActionTitle }}</h3>
    <p>
      <label for="name">Title: </label>
      <input maxlength="20" id="name" v-model="currentNote.name" type="text" />
    </p>
    <div>
      <div class="todos-heading">
        <h3>Todos:</h3>
      </div>
      <div class="d-flex">
        <input
          @keypress.enter="addTodo"
          placeholder="Add todo"
          class="mr-2"
          v-model="newTodo"
          type="text"
        />
        <button @click="addTodo">+</button>
      </div>
      <TodoList @remove-todo="deleteTodo" :todos="currentNote.todos" />
      <div></div>
      <button @click="cancel">Cancel</button>
      <button @click="saveNote">Save</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TodoList from '../components/todos/TodoList'
export default {
  name: 'SingleNote',
  components: {
    TodoList,
  },
  filters: {
    parseActionTitle(v) {
      if (v === 'add') {
        return 'Add new note'
      } else if (v === 'edit') {
        return 'Edit note'
      } else {
        console.warn('unknown action type')
        return '-'
      }
    },
  },
  data() {
    return {
      newTodo: '',
      actionType: '',
      currentNote: {
        id: '',
        name: '',
        todos: [],
      },
    }
  },
  computed: {
    ...mapGetters(['notesList']),
  },
  methods: {
    ...mapActions(['addNote', 'editNote']),
    deleteTodo(id) {
      console.log(id)
      this.currentNote.todos = this.currentNote.todos.filter(el => el.id !== id)
    },
    cancel() {
      this.$dialog
        .confirm('Are you sure you want to exit without saving Note?', {
          okText: 'Yes',
          cancelText: 'No',
          animation: 'bounce',
        })
        .then(() => {
          this.$router.go(-1)
        })
        .catch(function (er) {
          if (er) {
            console.log(er)
            this.loading = false
          }
        })
    },
    saveNote() {
      this.currentNote.todos = this.currentNote.todos.filter(el => el.text)
      switch (this.actionType) {
        case 'add':
          this.addNote(this.currentNote)
          break
        case 'edit':
          this.editNote(this.currentNote)
          break
        default:
          console.warn('Wrong action')
          break
      }
      this.$router.push('/')
    },
    addTodo() {
      const newTodo = {
        id: String(this.currentNote.todos.length + 1),
        isDone: false,
        text: this.newTodo,
      }
      this.currentNote.todos.push(newTodo)
      this.newTodo = ''
    },
  },
  created() {
    if (this.$route.params.id === 'new') {
      this.actionType = 'add'
      const newNote = {
        id: String(Math.floor(Math.random() * 10001)),
        name: 'New Note',
        todos: [{ id: 1, isDone: false, text: 'Some todo description...' }],
      }
      this.currentNote = newNote
    } else {
      this.actionType = 'edit'
      const note = this.notesList.find(el => el.id === this.$route.params.id)
      if (note) {
        this.currentNote = JSON.parse(JSON.stringify(note))
      }
    }
  },
}
</script>

<style scoped>
.single-note-form {
  background-color: #ddd;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos-heading {
  display: flex;
  align-items: center;
}
.todos-heading h3 {
  margin-right: 20px;
}
</style>