<template>
  <div
    :style="{ backgroundColor: bgColors[note.id % bgColors.length] }"
    @dblclick="$router.push(`/${note.id}`)"
    class="single-note"
  >
    <div
      style="align-items: center; justify-content: space-between"
      class="d-flex"
    >
      <h3>{{ note.name }}</h3>
      <div class="ml-auto">
        <button class="mr-2" @click="$router.push(`/${note.id}`)">edit</button>
        <button @click="deleteNote">delete</button>
      </div>
    </div>
    <ul v-if="slicedTodos.length">
      <li :key="todo.id" v-for="todo in slicedTodos">
        <p :style="{ textDecoration: todo.isDone ? 'line-through' : 'none' }">
          {{ todo.text }}
        </p>
      </li>
    </ul>
    <p v-else>No todos yet...</p>
    <span v-if="note.todos.length > slicedTodos.length">
      {{ '...and ' + (note.todos.length - slicedTodos.length) + ' more' }}
    </span>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    note: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },
  data() {
    return {
      bgColors: ['#06d', '#0a0', '#a0a', '#ae0', '#cc0', '#ded'],
    }
  },
  computed: {
    slicedTodos() {
      return this.note.todos.filter((n, i) => i < 3)
    },
  },
  methods: {
    ...mapActions(['removeNote']),
    deleteNote() {
      this.$dialog
        .confirm('Are you sure you want to remove Note?', {
          okText: 'Yes',
          cancelText: 'No',
          animation: 'bounce',
        })
        .then(() => {
          this.removeNote(this.note.id)
        })
        .catch(function (er) {
          if (er) {
            console.log(er)
            this.loading = false
          }
        })
    },
  },
}
</script>

<style scoped>
.single-note {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 200px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
</style>