<template>
  <div id="app">
    <transition appear name="slide-fade">
      <h1 class="main-header">Test task for Yode PRO</h1>
    </transition>
    <router-view />
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  methods: {
...mapActions(['getNotes'])
  },
  created() {
    this.getNotes()
  },
}
</script>


<style>
ul {
  padding: 0;
}
li {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.mr-2 {
  margin-right: 10px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-auto {
  margin-left: auto;
}
.main-header {
  text-align: center;
}
.slide-fade-enter-active {
  transition: all 1.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>