<template>
  <ul>
    <li :key="todo.id" v-for="todo in todos">
      <TodoItem v-on="$listeners" :todo="todo" />
    </li>
  </ul>
</template>

<script>
import TodoItem from '../todos/TodoItem'
export default {
  components: {
    TodoItem,
  },
  props: {
    todos: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style>
</style>