<template>
  <div>
    <input type="checkbox" :id="todo.id" v-model="todo.isDone" />
    <input type="text" v-model="todo.text" />
    <button @click="$emit('remove-todo', todo.id)">delete</button>
  </div>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true,
      default: () => ({ id: 0, isDone: false, text: '' }),
    },
  },
}
</script>

<style>
</style>